# Prevent syncing local packages and caches
Lib/
site-packages/
*.pyc
__pycache__/
venv/
.env

.databricks

databricks/*

.vscode/*

databricks/

.ruff_cache/

.vscode/

.venv_pyspark/

.pytest_cache/

.coverage